<section
  class="d-flex flex-column justify-content-center align-items-center text-center vh-100 p-5"
>
  <h1 class="text-primary my-3 fs-3 fw-light">
    Произошла ошибка! Что-то пошло не так...
  </h1>
  <div class="image-container my-3">
    <img
      src="../../assets/vecteezy_psd-404-page-not-found-error-3d-rendering-vector-icon_20272064.jpg"
      alt="404.png"
      class="img-fluid w-100 h-100"
    />
  </div>
  <h2 class="text-primary my-3 fs-3 fw-light">
    Мы не можем найти страницу, которую Вы искали.
  </h2>
</section>
