<div
  *ngIf="isPostsLoaded"
  class="d-flex justify-content-center align-items-center flex-column p-5 bg-light"
>
  <mat-card
    class="post-card d-flex w-75 mb-5 shadow"
    *ngFor="let post of posts; let i = index"
  >
    <mat-card-header class="d-flex align-items-center">
      <div class="me-4 vh-75 vw-75">
        <img
          class="img-fluid"
          src="../../../assets/user-icon.png"
          alt="user-icon.png"
        />
      </div>
      <div>
        <a routerLink="/post/{{ post.id }}" class="text-decoration-none">
          <mat-card-title class="fs-3">{{ post.title }}</mat-card-title>
        </a>
        <mat-card-subtitle>{{ post.location }}</mat-card-subtitle>
      </div>
    </mat-card-header>
    <img mat-card-image [src]="formatImage(post.image)" alt="post_image" />
    <mat-card-subtitle class="p-2 ms-2 mt-2" align="start"
      >Создан пользователем:
      <span class="text-dark"> {{ post.username }} </span></mat-card-subtitle
    >
    <mat-card-subtitle class="p-2 ms-2 mt-2" align="start"
      >Дата создания:
      <span class="text-dark">
        {{ post.createdDate && getDate(post.createdDate) }}
      </span></mat-card-subtitle
    >
    <mat-card-content class="p-3 mb-2 fs-5"
      ><p>{{ post.caption }}</p>
    </mat-card-content>
    <mat-card-actions
      align="start"
      class="mb-3"
      *ngIf="isLoggedIn && isUserDataLoaded"
      ><button mat-button (click)="post.id && likePost(post.id, i)">
        <mat-icon *ngIf="post.usersLiked?.indexOf(user.username) === -1"
          >favorite_border</mat-icon
        >
        <mat-icon *ngIf="post.usersLiked?.indexOf(user.username) !== -1"
          >favorite</mat-icon
        >
        Оценить
      </button>
      <div
        class="ms-auto"
        *ngIf="
          isLoggedIn && isUserDataLoaded && user.username === post.username
        "
      >
        <button class="btn btn-outline-success mx-2">Редактировать</button>
        <button
          class="btn btn-outline-danger mx-2"
          (click)="post.id && deletePost(post.id)"
        >
          Удалить
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
