<section
  *ngIf="isPostLoaded"
  class="d-flex justify-content-center align-items-center flex-column p-5 bg-light"
>
  <mat-card class="post-card d-flex w-75 mb-5 shadow">
    <mat-card-header class="d-flex align-items-center">
      <div class="me-4 vh-75 vw-75">
        <img
          class="img-fluid"
          src="../../../assets/user-icon.png"
          alt="user-icon.png"
        />
      </div>
      <div>
        <a href="/post/{{ post.id }}" class="text-decoration-none">
          <mat-card-title class="fs-3">{{ post.title }}</mat-card-title>
        </a>
        <mat-card-subtitle>{{ post.location }}</mat-card-subtitle>
      </div>
    </mat-card-header>
    <img mat-card-image [src]="formatImage(post.image)" alt="post_image" />
    <mat-card-subtitle class="p-2 ms-2 mt-2" align="start"
      >Создан пользователем:
      <span class="text-dark"> {{ post.username }}</span></mat-card-subtitle
    >
    <mat-card-content class="p-3 mb-2 fs-5"
      ><p>{{ post.caption }}</p>
    </mat-card-content>
    <mat-card-actions align="start" *ngIf="isLoggedIn"
      ><button
        mat-button
        (click)="post.id && likePost(post.id)"
        [ngClass]="
          post.usersLiked?.indexOf(user.username) !== -1
            ? 'is-liked'
            : 'not-liked'
        "
      >
        <mat-icon>favorite</mat-icon> Оценить
      </button>
    </mat-card-actions>
    <div>
      <p *ngFor="let comment of post.comments">
        <span>{{ comment.username }}</span
        >: {{ comment.message }}
      </p>
    </div>
    <mat-form-field *ngIf="isLoggedIn">
      <mat-label>Оставить комментарий...</mat-label>
      <input
        (keyup.enter)="post.id && postComment(getValue($event), post.id)"
        matInput
        #message
        maxlength="128"
      />
      <mat-hint align="end">{{ message.value.length }} / 128</mat-hint>
    </mat-form-field>
  </mat-card>
</section>
